@media (min-width: 60.6em) {
  nav {
    grid-column: 3;
  }
  .menubtn {
    display: none;
  }

  /* nav ul {
    display: flex;
  } */
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.6em;
  }
  #dateHeader {
    font-size: 1.5em;
  }
  .navigate {
    display: flex;
  }

  .navigate li {
    display: flex;
    flex: 1 1 auto;
  }
  .navigate li:first-child {
    display: none;
  }

  .respond li {
    line-height: inherit;
  }
  main .hero {
    grid-row: 1/3;
    grid-column: 2/4;
    height: 100%;
  }
  main .event,
  .demo1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  main .weather,
  .demo2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  main .join {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  main .news {
    grid-row: 3/4;
    grid-column: 2/4;
  }
  .spotlight {
    display: block;
    grid-row: 1/4;
    grid-column: 4/5;
  }
  .spotlight1 {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .spotlight2 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .spotlight3 {
    display: grid;
    grid-row: 3/4;
  }
  /* .gallery1 {
    grid-row: 1/2;

  }  */
  .gallerymid {
    grid-column: 2/3;
  }
  .galleryright {
    grid-column: 3/4;
  }
  .gallerytop {
    grid-row: 1/2;
  }
  .gallerymidv {
    grid-row: 2/3;
  }
  .bannerfoot {
    grid-column: 1/4;
  }


}
