@media (min-width: 34.5em) {
  .logo img {
    width: 70px;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
  #dateHeader {
    font-size: 1.3em;
  }
  main .hero {
    grid-row: 1/2;
    grid-column: 1/3;
    /* border:0px; */
  }
  .herop,
  .herojoin {
    font-size: 1.5rem;
  }

  main .news {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .spotlight {
    /* display: grid; */
    flex-direction: row;
    grid-column: 1/3;
    justify-content: space-evenly;
    /* grid-row: 3/4;
    grid-column: 1/3; */
  }
  .spotlight1 img,
  .spotlight2 img,
  .spotlight3 img {
    width: 60%;
  }
  /* main .spotlight1 {
    grid-row: 1/2;
    grid-column: 1/1.5;

  }
  main .spotlight2 {
    grid-row: 1/2;
    grid-column: 1.5/3;
 
  } */
  main .join {
    display: block;
    grid-row: 4/5;
    grid-column: 1/3;
  }
  main .event {
    grid-row: 5/6;
  }
  main .weather {
    grid-row: 5/6;
  }
  .gallery img {
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
  }
  .gallery img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  .bannerfoot {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  form {
    grid-column: 1/2;
  }
  .title {
    grid-column: 1/3;
  }
  .rightc {
    grid-column: 2/3;
  }
  /* .gallery1 {
    grid-column: 2/3;
    grid-row: 1/2;
  } */
  /* footer {
    display: grid;
    /* grid-gap: 15px; */
  /* } */
  footer .footermap {
    display: flex;
    justify-content: space-evenly;

    /* grid-row: 1/2; */
  }
  footer .footer2 {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: space-evenly;
  }
}
