:root {
  --bfcolor: rgb(30, 124, 93);
  --hcolor: rgb(128, 195, 27);
  --ondarktext: rgb(241, 246, 251);
  --onlighttext: black;
}

html {
  background-image: url("../images/background.webp");
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
}
.op {
  opacity: 0.95;
}

.noborder {
  border: none;
}
.red {
  color: rgb(149, 36, 36);
}

.grid {
  display: grid;
}
body {
  max-width: 950px;
  justify-content: center;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
  margin: 2em auto;
  margin-top: 0em;
  margin-bottom: 0em;
}

header,
footer {
  background-color: var(--bfcolor);
  color: var(--ondarktext);
}

main {
  display: grid;

  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  grid-gap: 0.6em;
  text-align: left;
}
.dispblock {
  display: block;
}
header {
  display: grid;
  grid-gap: 0.4rem;
  align-items: center;
  justify-content: space-between;

  padding: 0.4em;
}
h1 {
  display: flex;
  font-size: 1.2em;
  margin: 0;
}
h2 {
  font-size: 0.9em;
}
.logotitle {
  display: flex;
  justify-content: left;
  grid-column: 1/3;
  grid-row: 1/2;
}
.logo {
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
}
.logo img {
  width: 60px;
}
.titles {
  grid-row: 1/2;
  padding-left: 0.5rem;
}
.headright {
  flex-direction: row;
  grid-column: 3/4;
  justify-content: space-between;
}
.social {
  grid-row: 1/2;
  justify-self: right;
}
.social a svg {
  width: 25px;

  height: auto;
}
#dateHeader {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
  padding: 1rem;
}
nav a {
  display: block;
  color: var(--ondarktext);
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-family: "Leto", sans-serif;
}

nav a:hover {
  background-color: var(--hcolor);
  color: var(--onlighttext);
}
nav {
  display: flex;
  justify-self: right;
  color: var(--ondarktext);
  grid-row: 1/2;
  font-size: 1.5rem;
  background-color: var(--bfcolor);
  z-index: 2;
}
.menubtn {
  margin: 0.2rem 3vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  justify-content: space-evenly;
}

.navigate {
  list-style: none;
}
.navigate li:first-child {
  display: block;
  border: none;
}
.navigate li {
  display: none;
}

.navigate a {
  display: block;
  text-decoration: none;
  padding: 0.3rem;
}
.navigate a:hover,
footer a:hover {
  background-color: var(--hcolor);
  color: var(--onlighttext);
}

.respond li {
  display: block;
  background-color: var(--bfcolor);
  line-height: 1.4;
}

main div {
  display: flex;
  border: 1px solid;
  padding: 0.4em;
}
main p {
  padding: 6px;
  font-size: 1rem;
}
.hero {
  padding: 0;
  border: none;
  position: relative;
}
.herop {
  position: absolute;
  top: 8px;
  left: 5px;
  color: var(--ondarktext);

  font-size: 0.8rem;
  z-index: 2;
}
#heroimg img {
  position: relative;
  width: 100%;
}
.herojoin {
  position: absolute;
  font-size: 0.7rem;
  bottom: 8px;
  right: 5px;
}
.herojoin,
.joinlink,
.herop {
  background-color: var(--bfcolor);
  padding: 0.6rem;
  text-align: center;
}
.herojoin:hover,
.joinlink:hover {
  background-color: var(--hcolor);
  color: var(--onlighttext);
  text-decoration: none;
}
.herojoin a,
.joinlink a {
  text-decoration: none;
  color: var(--ondarktext);
}
.event {
  display: grid;
  text-align: center;
}
.event img {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  width: 50%;
}
#eventinfo {
  grid-row: 2/3;
  grid-column: 1/2;
}
.weather {
  display: grid;
}
#weatherheader {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2rem;
  text-align: center;
}
#weathericon {
  width: 9em;
  grid-row: 2/3;
  grid-column: 1/2;
}
#temperature {
  font-size: 3rem;
  grid-row: 2/3;
  grid-column: 2/3;
}
#skies {
  grid-column: 1/3;
  grid-row: 3/4;
  border-bottom: 1px solid;
  text-align: right;
  font-size: 2rem;
}
#windsp {
  grid-column: 1/2;
  grid-row: 4/5;
}
#windspu {
  grid-column: 2/3;
  grid-row: 4/5;
}
#windch {
  grid-column: 1/2;
  grid-row: 5/6;
}
#windchu {
  grid-column: 2/3;
  grid-row: 5/6;
}
.spotlight {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 0.1rem;
}
.spotlight1,
.spotlight2 {
  display: grid;
}
.spotlight1 img,
.spotlight2 img,
.spotlight3 img {
  width: 40%;
  justify-self: center;
}
.spotlight p {
  text-align: center;
}
.slhead,
.slhead,
.slhead {
  grid-row: 2/3;
  grid-column: 1/2;
}
.slinfo,
.slinfo,
.slinfo {
  grid-row: 3/4;
  grid-column: 1/2;
}
.news {
  display: grid;
  text-align: center;
}
#headline {
  grid-row: 1/2;
  grid-column: 1/2;
}
#newsinfo {
  grid-row: 2/3;
  grid-column: 1/2;
}

.gallery {
  display: grid;
  text-align: center;
}
.demo1 img,
.demo2 img {
  max-width: 280px;
  height: auto;
}
.gallery img {
  height: auto;
  filter: blur(0);
  transition: filter 1.7s;
}

img[data-src] {
  filter: blur(0.4em);
}

.bannerfoot {
  text-align: center;
}
footer {
  padding: 0.4rem;
}

footer h3 {
  padding: 1rem;
}

.contact2 a {
  text-decoration: none;
  color: inherit;
}
.contact {
  font-size: 0.7em;
}
.footerlogo img {
  width: 70px;
}
.footer2 {
  border-top: 1px solid;
  padding: 0.7rem;
  font-size: 0.7em;
}
.join {
  display: none;
}

.spotlight3 {
  display: none;
}
.hidden {
  display: none;
}

.rpad {
  padding: 1em;
}
.title {
  text-align: center;
  padding: 1rem;
}
label {
  font-size: smaller;
}
form,
.rightc {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}
.submitBtn {
  background-color: var(--bfcolor);
  color: var(--ondarktext);
  margin: 1em auto;
}
.submitBtn:hover {
  background-color: var(--hcolor);
  color: var(--onlighttext);
}
form input,
form textarea {
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 5px 5px;
  grid-column: 1/2;
  padding: 0.8rem;
}
.top input {
  padding-top: 0.9rem;
  margin: 0 0 0.9rem 0;
}
.radio {
  display: block;
  padding: 1rem;
  font-size: 0.9rem;
}
.radio input {
  display: inline-block;
}
.rightc p {
  font-size: larger;
  min-width: 150px;
}
.rightc li {
  list-style: none;
}
.rightc {
  font-family: "Leto", sans-serif;
}
.rightc li,
.rightc ul {
  padding: 1rem;
}
textarea {
  flex-wrap: wrap;
  resize: none;
  padding-top: 0.9rem;
}
.btn {
  margin: 0.2rem 3vw;
  font-size: 2rem;
  justify-content: space-evenly;
}
/* Directory specific */
.grid {
  margin-left: 1rem;
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  justify-content: center;
  text-align: center;
}

.cards section {
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 34px #333;
}
.cards section p:not(:first-of-type) {
  font-size: 0.8rem;
  padding: 0.3rem;
}
.cards section:first-child {
  font-size: larger;
}
.cards section img {
  width: 100px;
  box-shadow: 0 0 34px #333;
}
.list {
  display: flex;
  flex-direction: column;
}
.list section {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
