html {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 900px; */
  margin: 0.6em;
  font-family: "Leto", sans-serif;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
}
header,
footer {
  /* background-color: rgb(8, 112, 18); */
  background-color: rgb(30, 124, 93);
}
main {
  display: grid;

  margin: 1em;
  /* padding: 1em; */
  max-width: 100%;
  grid-gap: 0.6em;
  text-align: left;
}
/* img {
    padding: 1rem;
} */
header {
  display: grid;
  grid-gap: 0.4rem;
  padding: 0.8em;
  align-items: center;
  /* justify-content: space-between; */
  text-align: left;

  padding: 0.4em;
}
h1 {
  display: flex;
  font-size: 1em;
  margin: 0;
}
h2 {
  font-size: 0.7em;
}
.logo {
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  /* margin-left: 1rem; */
}
.logo img {
  width: 40px;
  max-height: auto;
}
.titles {
  grid-row: 1/2;
  /* grid-column: 2/3; */
  /* flex-direction: column; */
  /* margin-left: .4rem; */
}
.social {
  grid-row: 1/2;
  /* grid-column: 2/3; */
  justify-self: right;
}
.social a svg {
  width: 25px;

  height: auto;
}
#dateHeader {
  grid-row: 2/3;
  grid-column: 1/5;
  text-align: center;
}
nav a {
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: "Leto", sans-serif;
}

nav a:hover {
  background-color: rgb(128, 195, 27);
  color: black;
}
nav {
  display: flex;
  justify-self: right;
  color: antiquewhite;
  grid-row: 1/2;
}
.menubtn {
  margin: 0.2rem 3vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  /* width: .55%; */
}

.navigate {
  list-style: none;
}
.navigate li:first-child {
  display: block;
}
.navigate li {
  display: none;
}

.navigate a {
  display: block;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navigate a:hover {
  background-color: rgb(128, 195, 27);
  color: black;
}
.respond li {
  display: block;
}

main p {
  display: flex;
  border: 1px solid;
  padding: 0.4em;
  /* Spadding-bottom: 3em; */
  height: 10em;
}
.spotlight {
  border: 1px solid;
  padding: 0.1rem;
  justify-content: center;
}
footer {
  padding: 0.4rem;
}
/* .footermap {
    justify-items:space-between;
} */
footer h5 {
  padding: 1rem;
}
/* .contact1 {
  padding: 1.4rem;

} */
.contact2 a {
  text-decoration: none;
  color: inherit;
  /* padding: 1.4rem; */
  align-content: right;
}
.contact {
  font-size: 0.7em;
  /* padding: 1.4rem; */
}
.footerlogo img {
  width: 70px;
  /* padding: 1.4rem; */
}
.footer2 {
  border-top: 1px solid;
  padding: 0.7rem;
  font-size: 0.7em;
}
.join {
  display: none;
}

.spotlight3 {
  display: none;
}
