:root {
  --hfcolor: #13cb7b;
  --hfcolor2: #14cc9f;
  --bgcolor: #e5ffff;
  --hcolor: #1959e3;
  --hcolor2: #b6fc35;
  --hcolor3a: #0cabf5;
  --hcolor3: #979795;
  --ondarktext: rgb(241, 246, 251);

  --onlighttext: black;
}

html {
  background-color: var(--bgcolor);
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common classes */
.empad {
  padding: 1em;
}
.empad5 {
  padding: .5em;
}
.mmarg {
  margin: .2rem;
}
.onefont {
  font-size: 2rem;
}
.onefont5 {
  font-size: 1.5rem;
}
.justcenter {
  justify-items: center;
  text-align: center;
  align-items: center;
}

header, footer {
  background-color: var(--hfcolor);
}


footer p, footer a {
  padding: .3rem;
}
body {
 font-family: 'The Girl Next Door', cursive;
 min-width: 370px;
}

body p {
  font-family: 'Inconsolata', monospace;
}

.ondarktext {
  color: var(--ondarktext);
}

.onlighttext {
  color: var(--onlighttext);
}

.hover a , .hover div, .hover input {
  border-radius: 5px 5px 5px 5px;
  background-color: var(--hcolor);
  border: 1px solid var(--hcolor3a);
  text-decoration: none;
  color: var(--ondarktext);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
}

.hover a:hover, .hover div:hover, .hover input:hover {
  background-color: var(--hcolor2);
  color: var(--onlighttext);
}
.grid {
  display: grid;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
.gap {
  grid-gap: .4rem;
}
.curve {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
}
/* .noborder {
  border-radius: none;
  border: transparent;

} */
header {
  grid-template-columns: 40px 2fr 1fr .5fr;
}
.social {
  grid-column: 4/5;
  flex-direction: column;
  /* grid-row: 1/2; */
  /* justify-self: right; */
}
.social a svg {
  width: 25px;

  height: auto;
}
.navigate {
  list-style: none;
}
.navigate li:first-child {
  display: block;
  border: none;
}
.navigate li {
  display: none;
}
.respond {
  position:absolute;
}
.respond li:first-child {
  position:relative;
}
.respond li {
  display: block;
  background-color: var(--hfcolor);
  line-height: 1.4;
}
.navigate a {
  display: block;
  padding: 0.3rem;
}
nav {
  position: absolute;
}

.titles {
  /* display: block; */
  grid-column: 2/3;
  font-size: 1em;
}
.logo {
  grid-column: 3/4;
}
.footerlogo img {
  width: 4em;
}
footer {
  text-align: center;
}
.contact a {
  display: block;
}
/* main rules */

main div {
  background-color: var(--hcolor3);
}
.title {
  text-align: center;
  background-color: var(--hcolor3a);
}
.gridrep {
  /* margin-left: 1rem; */
  /* position: relative; */
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  text-align: center;
}
.cards section {
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 34px #333;
}
.cards section ul li {
  list-style: none;
}
.likebtn {
  width: 40px;
  height: 40px;
  /* position:absolute; */
  top: 3%;
  right: 3%;
}
.nolike{
  background: url(../images/unlike.svg);
}
.ylike {
  background-image: url(../images/like.svg);
}

.form {
  flex-direction: column;
  justify-content: space-evenly;

}
.radio {
  display: flex;
  flex-direction: column;
}
.label {
  display: inline-block;

}
.label input, .label textarea {
  width: 80%;
  margin: 2rem;
  padding: .5rem;
  border: 1px solid var(--hcolor3a);
  border-radius: 5px 5px 5px 5px;
}
.radio {
  display: block;
  padding: 1rem;
  /* font-size: 0.9rem; */
}
.radio input {
  display: inline-block;
  margin: 1rem;
  width: 45px;
  height: 45px;

}