:root {
  --hfcolor: #14cc9f;
  --bgcolor: #e5ffff;
  --hcolor: #1959e3;
  --hcolor2: #b6fc35;
  --hcolor3: #0cabf5;
  --ondarktext: rgb(241, 246, 251);

  --onlighttext: black;
}

html {
  background-color: var(--bgcolor);
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common classes */
.empad {
  padding: 1em;
}
.mmarg {
  margin: .2rem 3vw;
}
.onefont {
  font-size: 2rem;
}

header, footer {
  background-color: var(--hfcolor);
}


footer p, footer a {
  padding: .3rem;
}
body {
 font-family: 'The Girl Next Door', cursive;
 min-width: 370px;
}

body p {
  font-family: 'Inconsolata', monospace;
}

.ondarktext {
  color: var(--ondarktext);
}

.onlighttext {
  color: var(--onlighttext);
}

.hover a {
  border-radius: 5px 5px 5px 5px;
  background-color: var(--hcolor);
  border: 1px solid var(--hcolor3);
  text-decoration: none;
  color: var(--ondarktext);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
}

.hover a:hover {
  background-color: var(--hcolor2);
  color: var(--onlighttext);
}
.grid {
  display: grid;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
.curve {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
}
header {
  grid-template-columns: 40px 2fr 1fr .5fr;
}
.social {
  grid-column: 4/5;
  flex-direction: column;
  /* grid-row: 1/2; */
  /* justify-self: right; */
}
.social a svg {
  width: 25px;

  height: auto;
}
.navigate {
  list-style: none;
}
.navigate li:first-child {
  display: block;
  border: none;
}
.navigate li {
  display: none;
}
.respond {
  position:absolute;
}
.respond li:first-child {
  position:relative;
}
.respond li {
  display: block;
  background-color: var(--hfcolor);
  line-height: 1.4;
}
.navigate a {
  display: block;
  padding: 0.3rem;
}
nav {
  position: absolute;
}

.titles {
  grid-column: 2/3;
  font-size: 1em;
}
.logo {
  grid-column: 3/4;
}
.footerlogo img {
  width: 4em;
}
footer {
  text-align: center;
}

