html {
    background-color: antiquewhite;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 900px;
    margin: 1em;
    font-family: "Leto", sans-serif;
    font-family: "Love Ya Like A Sister", cursive;
    text-align: center;
  }
  header,
  footer {
    background-color: rgb(30, 124, 93);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  main {

    display: grid;

    margin: 1em;
    padding: 1em;
    max-width: 100%;
    grid-gap: 1em;
    text-align: left;
  }
img {
    padding: 1rem;
}
  header {
    /* display: grid; */
    /* grid-row: 1/2; */
    /* grid-template-columns: 110px auto; */
    align-content: center;
    text-align: center;
    /* justify-content: center; */
    padding: 1em;
  }

nav {
    display: flex;
    flex-direction: column;
}

nav div {
     flex: 1 1 auto;}

nav a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: "Leto", sans-serif;

}

nav a:hover {
    background-color: rgb(128, 195, 27);
    color: black;

}
.heading {
    background-color: rgb(128, 195, 27);
}
h1 {
    font-size: 2rem;
}

h2,h3,h4,h5 {
    padding: .7em;
    font-size: 1rem;
    /* max-width: 80%; */
}
main p {
    font-family: "amiko", sans-serif;
    padding: 1em;
}
.greend {
    background-color: rgb(30, 124, 93);
    color: antiquewhite;
}
.greenl {
    background-color: rgb(128, 195, 27);
}

.antique {
    background-color: antiquewhite;
}
.black {
    color: antiquewhite;
    background-color:black;
}
li {
    padding: .9rem;
    font-family: "amiko", sans-serif;
}
.sister {
    font-family: "Love Ya Like A Sister", sans-serif;
    font: bold;
    font-size: 1em;
}
.headingpad {
    padding: .7em;
    font-size: 0.9rem;
}
.logo {
    display: block;
    justify-items: center;
}
.purpose {
    text-align: left;
}
footer {
    color: antiquewhite;
    font-family: "amiko", sans-serif;
  text-align: center;
  padding: 1rem;
}
footer p {
    padding: .8rem;
}